<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{static/css/orderManger.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a href="/index.do">
            <img th:src="@{static/img/logo.gif}" alt=""
          /></a>
          <h1>订单详情</h1>
        </div>
        <div class="header-right">
          <a href="/index.do" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>图书名称</th>
              <th>购买数量</th>
              <th>总金额</th>
              <th>订单编号</th>
              <th>订单状态</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item: ${orderDetail}">
              <td><img th:src="${item.imgPath}" alt=""></td>
              <td th:text="${item.bookName}"></td>
              <td th:text="${item.bookCount}">90.00</td>
              <td th:text="${item.amount}">88</td>
              <td th:text="${item.orderId}"></td>
              <td th:if="${item.orderStatus} == 0">未发货</td>
              <td th:if="${item.orderStatus} == 1">正在配货</td>
              <td th:if="${item.orderStatus} == 2">已发货</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img src="../../static/img/bottom1.png" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom.png" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom2.png" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
         
        </div>
      </div>
      <div class="down">
        Deer.Copyright ©2022
      </div>
    </div>
  </body>
</html>
