<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>会员注册页面</title>
<link type="text/css" rel="stylesheet" th:href="@{static/css/style.css}" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body>
	<div id="header">
		<a href="/index.do">
			<img class="logo_img" alt="" th:src="@{static/img/logo.gif}" />
		</a>
		<span class="wel_word"></span>
		<div>
			<span>欢迎<span class="um_span">会员</span>光临Deer书城</span>
		</div>
	</div>

	<div id="main">

		<h1>注册成功! <span id="time" style="color: red">3</span>秒后 <a href="/index.do">转到主页</a></h1>

	</div>

	<div id="bottom">
		<span>
			Deer.Copyright &copy;2022
		</span>
	</div>
	<script>
		var oSp = document.getElementById("time")

		var s = 3
		function timer(){
			s --
			if(s == 0){
				location.href = "/index.do"
			}
			oSp.innerText = s
		}
		time = setInterval(timer, 1000)
	</script>
</body>
</html>