<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{static/css/orderManger.css}" />
    <script th:src="@{static/script/jquery-3.6.0.min.js}"></script>
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a href="/index.do">
            <img th:src="@{static/img/logo.gif}" alt=""/></a>
          <h1>订单管理系统</h1>
        </div>
        <div class="header-right">
          <a th:href="@{manage(librarian='findAllBook')}" class="order">图书管理</a>
          <a href="/index.do" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>订单号</th>
              <th>订单日期</th>
              <th>订单金额</th>
              <th>订单数量</th>
              <th>订单详情</th>
              <th>发货状态</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item: ${orderList}">
              <td th:text="${item.orderId}">12354456895</td>
              <td th:text="${item.createTime}">
                2015.04.23
              </td>
              <td th:text="${item.orderAmount}">90.00</td>
              <td th:text="${item.orderCount}">88</td>
              <td><a th:href="@{order(operate='findDetail', orderId=${item.orderId})}">查看详情</a></td>
              <td th:if="${item.orderStatus} == 0"><a href="" class="send">未发货</a></td>
              <td th:if="${item.orderStatus} == 1"><a href="" class="send">正在配货</a></td>
              <td th:if="${item.orderStatus} == 2"><a href="" class="send">已发货</a></td>
            </tr>
          </tbody>
        </table>
        <div class="footer" style="flex-direction: column;">
          <div class="footer-right" style="justify-content: center;">
            <input type="button" class="page" value="首  页" th:onclick="|page(1)|" th:disabled="${session.pageNo==1}">
            <input type="button" class="page" value="上一页" th:onclick="|page(${session.pageNo-1})|" th:disabled="${session.pageNo==1}">
            <ul>
              <li
                th:each="item: ${session.pageList}"
                th:class="${item == session.pageNo ? 'active pageLi' : 'pageLi'}"
                th:text="${item}">
              </li>
            </ul>
            <input type="button" class="page" value="下一页" th:onclick="|page(${session.pageNo+1})|"  th:disabled="${session.pageNo==session.pageCount}">
            <input type="button" class="page" value="尾  页" style="margin: 0 150px 0 0" th:onclick="|page(${session.pageCount})|"  th:disabled="${session.pageNo==session.pageCount}">
            <input id="page_max" type="hidden" th:value="${session.pageCount}">
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img src="../../static/img/bottom1.png" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom.png" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom2.png" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
         
        </div>
      </div>
      <div class="down">
        Deer.Copyright ©2022
      </div>
    </div>
    <script th:src="@{static/js/order_manager.js}"></script>
  </body>
</html>
